# Django
DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_SETTINGS_MODULE=config.settings.dev

# PostgreSQL
POSTGRES_DB=library_db
POSTGRES_USER=library_user
POSTGRES_PASSWORD=library_pass
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Stripe (додамо пізніше)
# STRIPE_SECRET_KEY=sk_test_...

# Telegram (додамо пізніше)
# TELEGRAM_BOT_TOKEN=...
# TELEGRAM_CHAT_ID=...
